<ul class="top-menu">
    <li><a  href="{% url 'questionnaire:home' %}">Главная</a></li>
    <li><a href="{% url 'about:project' %}">О проекте</a></li>
    <li><a href="{% url 'about:tech' %}">Технологии</a></li>
    <li><a href="//"> </a></li>
    <li><a href="//"> </a></li>
    <li><a href="//"> </a></li>
    <li><a href="//"> </a></li>
    <li><a href="//"> </a></li>
    <li><a href="{% url 'users:signup' %}">Регистрация</a></li>
    <li><a href="{% url 'users:login' %}">Вход</a></li>
    <!--<li class="active">О Проекте</li>-->
</ul>