{% extends "base.html" %}
{% load static %} 
{% load user_filters %}
{% block title %}Чаты{% endblock %}
{% load thumbnail %}
{% load tz %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
<div id="heading">
	<h1>Чаты</h1>
</div>
    <div class="panel">
        {% if chats.count == 0 %}
            <div class="panel panel-body">"Нет ни одного начатого диалога"</div>
        {% endif %}
    {% for chat in chats %}
    <section class="sec2 clearfix">
        <div class="container">
        {% if chat.message_set.count != 0 %}
            {% with last_message=chat.message_set.last %}
                {% get_companion user chat as companion %}

                <div id="commenttext">
                <a href="{{ chat.get_absolute_url }}"
                {% if companion == last_message.author and not last_message.is_readed %}
                unreaded{% endif %}>

                <div id="comment">
                    <div id="avatarbg">
                        <a href="{% url 'questionnaire:detail' companion.questionnaire.user.id %}">
                            <img class="avatar" src="{{ companion.questionnaire.photo.url }}"
                            alt="left" width="55" height="50" border-radius: "0%">
                    </div>

                <div class="reply-body">
                    <ul class="list-inline">
                        <li class="drop-left-padding">
                            <strong class="list-group-item-heading">{{ companion.username }}</strong>
                        </li>
                        <li class="pull-right text-muted"><small>{{ last_message.pub_date|utc }}</small></li>
                    </ul>
                </div>
                </div>
                {% if companion != last_message.author %}
                <div id="comment">
                    <div>
                        <div id="avatarbg">
                            <img class="avatar" src="{{ last_message.author.questionnaire.photo.url }}"
                            alt="left" width="55" height="50" border-radius: "0%">
                        </div>
                        <div id="commentеxt {% if not last_message.is_readed %}unreaded{% endif %}">
                            {{ last_message.message|truncatechars_html:"200"|safe|striptags }}
                        </div>
                    </div>
                    {% else %}
                        <div>{{ last_message.message|truncatechars_html:"200"|safe|striptags }}</div>
                    {% endif %}
                </div>
            </div>
            </a>
        </div>
        {% endwith %}
    {% endif %}
{% endfor %}
</div>
{% endblock %}