{% extends "base.html" %}
{% load static %} 
{% load user_filters %}
{% block title %}Личный чат{% endblock %}
{% block content %}
{% load user_filters %}
{% load static %} 
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

{% if not chat %}
    <div class="panel panel-body">
        'Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе.'
    </div>
{% else %}
{% load chat_tags %}
    {% if chat %}
        <div id="messages" class="panel">
            <div id="innerMessages">
                {% for message in chat.message_set.all %}
                        {% include 'users/message.html' with message_item=message %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    <div class="card-body">
        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="form-group row my-3 p-3">
              <small id="id_text-help" class="form-text text-muted">
                введите сообщение
              </small> 
                 {{ form.message }}
                 <div class="col-md-6 offset-md-4">
                    <button type="submit">Отправить            
                  </button>
                </div>
              </form>
             </div>
{% endif %}
{% endblock %}