{% load user_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
{% url 'users:profile' message_item.author.username as the_user_url%}
<div class="form-group row my-3 p-3">
<div class="list-group-item 

{% if not message_item.is_readed %}
unreaded
{% endif %}">

<div id="avatarbg">
    <a href="{{ the_user_url }}">
        <img class="avatar" src="{{ message_item.author.questionnaire.photo.url }}"
        alt="left" width="55" height="50" border-radius: "0%">
    </a>
</div>
    <div class="reply-body">
        <ul class="list-inline">
            <li class="drop-left-padding">
                <strong class="list-group-item-heading"><a href="{{ the_user_url }}">{{ message_item.author.username }}</a>
                </strong>
            </li>
            <li class="pull-right text-muted"><small>{{ message_item.pub_date }}</small></li>
        </ul>
        <div>{{ message_item.message|safe }}</div>
    </div>
</div>