{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Профиль{% endblock %}
{% block content %}
<div id="heading">
	<h1>Профиль пользователя {{ questionnaire.name }}</h1>
</div>
<main>
    {% if questionnaire.user != request.user %}
    {% if liked %}
    <p> Ставим дизлайк? 
        <div class="col-md-6 offset-md-4">
            <button type="submit">
            <a href="{% url 'likes:add_like' questionnaire.user.id %}">>
                <span style="color:white">Дизлайк</a></span>
          </button> 
    </p>
  {% else %}
    <p> Ставим лайк? 
        <div class="col-md-6 offset-md-4">
            <button type="submit">
            <a href="{% url 'likes:add_like' questionnaire.user.id %}">>
                <span style="color:white">Лайк</a></span>
          </button> 
    </p>
    {% endif %}
    {% endif %}
  <div class="container">
  {% thumbnail questionnaire.photo "500x300" crop="center" upscale=True as im %}
  <img  src="{{ im.url }}" alt="" >
  {% endthumbnail %}
    <p>Город проживания: {{ questionnaire.city }}</p>
    <p>Возраст: {{ questionnaire.age }}</p>
    <p>Цель пребывания на сайте: {{ questionnaire.text }}</p>

    <p>Хобби, увлечения:</p>
        <ul><li>Хобби какие нить.</li>
            <li>Хобби какие нить.</li>
            <li>Хобби какие нить.</li>
            <li>Хобби какие нить.</li>
            <li>Хобби какие нить.</li></ul>
        </div>
        {% if questionnaire.user == request.user %}
        <div class="col-md-6 offset-md-4">
            <button type="submit">
            <a href="{% url 'questionnaire:questionnaire_edit' user.id %}">
                <span style="color:white">Редактировать анкету</a></span>
          </button> 
        </div>
        {% endif %}
    <p>    
    <figure>
        <img src="{% static 'img/social love.jpg' %}" width="960" height="310" alt="">
    </figure>
    </p>
</main>
{% endblock %}