{% load static %}
<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<title>{%block title%} Главная {%endblock%} </title>
</head>
<body>
	<div id="wrapper">
	<header>
        {% include 'includes/header.html' %}
    </header>
	<nav>
		{% include 'includes/navigation.html' %}
	</nav>
		<div id="heading">
			<!--<h1>ABOUT US</h1>-->
		</div>
		<aside></aside>
		<section></section>
	</div>
    <div id="wrapper">
    <main>
        {% block content %}
          Контент не подвезли :(
        {% endblock %}
      </main>
	<footer>
        {% include 'includes/footer.html' %}
    </footer>
</body>