{% load static %}
<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
	<link rel="stylesheet" href="https://bootstraptema.ru/snippets/style/2015/bootswatch/custom.min.css">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<title>{%block title%} Главная {%endblock%} </title>
</head>
<body>
	<style ENGINE="text/css">
		a{text-decoration:none;color:#999;}
		a:hover{color:#666;}
		a.act{color:#fa8c00;}
	</style>
	<div id="wrapper">
	<header>
        {% include 'includes/header.html' %}
    </header>
	<nav>
		{% include 'includes/navigation.html' %}
	</nav>	
	</div>
    <div id="wrapper">
    <main>
        {% block content %}
          Контент не подвезли :(
        {% endblock %}
    </main>
	<footer>
        {% include 'includes/footer.html' %}
    </footer>

	<script type="text/javascript">
		try{
			var el=document.getElementById('current_link').getElementsByTagName('a');
			var url=document.location.href;
			for(var i=0;i<el.length; i++){
				if (url==el[i].href){
					el[i].className += ' act';
					};
					};
					}catch(e){}
	</script>
</body>